
<div class="container_index">
    <div class="home-app-name">LinkeRs</div>
    <div class="home-message">Your Shorcut Links</div>
    <div class="button-neon-a">
        <a href="/signin"> 
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Get Started
        </a>
    </div>
</div>
