<div class="container-welcome">
  {{#if user.profile_image}}
    <div class="profile-pic-welcome">
      <img src= "/uploads/{{user.profile_image}}" id="photo" />

    </div>
  {{else}}
    <div class="profile-pic-div">
      <img src="/img/businessman1.png" id="photo" />

    </div>
  {{/if}}
   
  <div class="container-message">
    <h3>Welcome {{user.fullname}} </h3>    
  </div>
  <div class="container-message">
    <h4>Username: {{user.username}}</h4>
  </div>

  <div class="container-button-a">
    <a href="/links/add">
      Save your links
    </a>
  </div>
</div>