* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 62.5%;  /*1 rem - 10 px*/
    width: 100vw;
    height: 100vh;

}

 body {
    color: #555;
    background-color: #ecf0f3;
    font-family: 'Lato', sans-serif;
}

/* ============================================ MENU STYLES ============================================================================ */

.nav-main{
    width: 95%;
    margin: auto;
    /* width: 100%; */
    padding: 12px 0;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff, 5px 5px 10px #ceced1;
}

.menu_container {
    /* max-width: 1000px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-brand-logo {
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    margin: 0 20px 0 0;
}

.nav_brand a {
    font-size: 2.0rem;
    font-weight: 600;
    text-decoration: none;
    color: #31344b;
}

/* ================= RIGHT SITE MENU ============================== */


.nav-main ul {
    list-style: none;
}



.nav-menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* position: relative; */
    /* float: left; */
    margin-right: 20px;
    height: 40px;
    width: 400px;
    color: #31344b;
    line-height: 40px;
    text-align: center;
    font-size: 1.8rem;
    /* border-radius: 90px; */
    transition: .2s;
    /* cursor: pointer; */
    font-weight: 550;
    /* background: yellowgreen; */
}



.nav-menu a {
    text-decoration: none;
    color: #31344b;
    font-weight: 550;
    padding: 5px 15px 5px 15px;
}

.nav-menu img {
    width: 30px;
    height:30px;
    vertical-align: middle;
    /* cursor:pointer; */
    border-radius: 50% ;
    /* margin-left: 120px; */
}

.nav-menu a:hover{
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 10px #ff704d, inset -5px -5px 10px #b32400;
}

.nav-links_dropdown{
    padding:0px 30px 0px 30px;
    cursor: pointer; 
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #858282, inset -5px -5px 10px #ceced1;

}

.nav-links_dropdown:hover{
    box-shadow: inset 5px 5px 10px #ff704d, inset -5px -5px 10px #b32400;

}

.dd_menu_links{
    position: absolute;
    top: 70px;
    right: 370px;
    width: 190px;
    display:flex;
    box-shadow: -3px -3px 7px #ffffff, 5px 5px 10px #ceced1;
    border-radius: 15px;
    display: none;
    z-index: 10;
    
}

.dd_menu_links:before {
    content: '';
    position: absolute;
    top: -20px;
    right: 30px;
    border: 10px solid;
    border-color: transparent transparent #74ded8 transparent;
}

.dd_menu {
    position: absolute;
    top: 70px;
    right: 80px;
    display:flex;
    box-shadow: -3px -3px 7px #ffffff, 5px 5px 10px #ceced1;
    border-radius: 15px;
    display: none;
    z-index: 10;
}

.dd_menu::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 30px;
    border: 10px solid;
    border-color: transparent transparent #74ded8 transparent;
}



.dd_left {
    background: #74ded8;
    padding: 8px 10px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.dd_left i{
    font-size: 1.6rem;
}


.dd_left li{
    color: #fff;
}

.dd_right{
    padding: 8px 15px;
}

.dd_right a{
    text-decoration: none;
    color: #868686;
    font-size: 1.6rem;
    border-radius: 10px;
    /* box-shadow: inset 5px 5px 10px #858282, inset -5px -5px 10px #ceced1; */
    padding: 8px 15px;
}



.nav-menu a:hover {
    color: #3498db;
}

.li_main_group {
    display: flex;
    align-items:center;
    justify-content:space-between;
    /* margin-left: 80px; */
    width: 240px;
    cursor: pointer;
    padding:0px 5px 0px 5px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #858282, inset -5px -5px 10px #ceced1;
}

/* h5{
    padding-left: 8px;
    padding-right: 8px;
} */

/* ================DROPDOWN MENU ================================ */



/* .nav-main ul ul{
    position: absolute;
    top: 55px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 10px #ffffff, inset -5px -5px 10px #ceced1;
    transform: scaleY(0);
    transform-origin: top;
    transition: .2s ease-out;
}*/

/* .nav-links_dropdown li:hover{
    transform: scaleY(1);    
}  */

/* ====================================== ADD NEW LINK FORM ================================================= */


.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f3;
    /* margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px; */
    position: absolute;
    z-index: -1;
}

.container-form__link{
    position: relative;
    top: -80px;
    width: 430px;
    height: 400px;
    padding: 30px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #707172,
    -8px -8px 10px rgb(161, 158, 158);
}

.container-form__signup {
    position: relative;
    top: -50px;
    width: 430px;
    height: 590px;
    padding: 30px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #707172,
    -8px -8px 10px rgb(161, 158, 158);
}

.container-form__signin{
    position: relative;
    top: -50px;
    width: 430px;
    height: 400px;
    padding: 30px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #707172,
    -8px -8px 10px rgb(161, 158, 158);
}


.logo {
    background: url("/img/igtLogo1.png") no-repeat center center/cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 15px #fff;
}

.main-title__link {
    text-align: center;
    font-size: 2.4rem;
    padding-top: -5px;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.main-title {
    text-align: center;
    font-size: 2.6rem;
    padding-top: 25px;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.sub-title {
    text-align: center;
    font-size: 2.0rem;
    padding-top: 5px;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
}

.title-popup {
    font-size: 5.0rem;
    padding-top: 5px;
    padding-bottom: 0px;
}

.input-label-popup {
    font-size: 1.6rem;    

}


.fields {
    width:100%;
    padding: 0px 5px 5px 5px;
       
}


.fields input, textarea {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: #555;
    padding: 10px 10px 10px 5px;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
}

#txtTitleLink {
    text-transform: uppercase;

}

/* .group-input__fullname {
    margin-top: 0px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -5px -5px 4px rgb(163, 160, 160);
    display:flex;
    align-items: center;
    justify-content:center;

} */


.group-input,
.group-textarea {
    margin-top: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -5px -5px 4px rgb(163, 160, 160);
    display:flex;
    align-items: center;
    justify-content:center;

}

.group-input-forgotpass {
    height: 35px;
    margin: 25px 10% 5px 10%;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -5px -5px 4px rgb(163, 160, 160);
    display:flex;
    align-items: center;
    justify-content:center;
}

.group-input-forgotpass input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: #555;
    padding: 10px 10px 10px 5px;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
}

.group-input-forgotpass input:focus .group-input-forgotpass{
    border: 1px solid #0075FF;
    border-radius: 25px;
    box-shadow: inset 10px 10px 10px #cbced1, inset 1px 1px 2px rgb(163, 160, 160);
    
}


.group-input-forgotpass i {
    margin: 0 10px -3px 25px;
    font-size: 1.4rem; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    transition: background-color 5000s ease-in-out 0s;
    font-size: 1.4rem;
    -webkit-text-fill-color: #555 !important; 
}

.group-input__fullname i {
    margin: 0 10px -3px 25px;
    font-size: 1.4rem; 
    
}

.group-input i {
    margin: 0 10px -3px 25px;
    font-size: 1.4rem; 
    
}


.group-textarea i {
    margin: 0px 10px -3px 25px;
    align-self: flex-start;
    padding-top: 15px;
    font-size: 1.4rem; 
}

.popup-class{
    height: 300px;
    border-radius: 0%;
    box-shadow: 13px 13px 20px #707172,
    -8px -8px 10px rgb(161, 158, 158);

}

#messageAlert{
    color: red;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
    font-weight: 700;
    
}

.popup-forgot-submitBtn {
    outline: none;
    border:none;
    cursor: pointer;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(3, 15, 46);
    text-align: center;
    background-color: #85b7c7;
    font-family: 'Lato', sans-serif;
    box-shadow: inset 5px 5px 20px #b1b1b1, inset -5px -5px 20px #fff;
    transition: all 0.5s;
    margin-top: 25px;
    margin-bottom: 10px;
}

.popup-forgot-submitBtn:hover {
    background-color: #d9e7eb;
    box-shadow: inset 5px 5px 20px #5f5e5e, inset -5px -5px 20px #3d3c3c;
}

.popup-forgot-submitBtn:active {
    background-color: #88ef9e;
}

.swal2-popup {
    border-radius: 20px !important;
}

.swal2-close {
    margin-top: 10px !important;
    margin-right: 10px !important;
}

.form__group-correct{
    color: #1ed12d;
    /* opacity: 1; */
    border-radius: 25px;
    box-shadow: inset 1px 1px 1px #1ed12d, inset -1px 0px 10px #0d8517;
}

.formulario__validacion-estado {
    visibility:hidden;
    /* opacity: 0;
    z-index: 100; */
}

.form__group-incorrect {
    color: #bb2929;
    border: 1px solid #bb2929;
    border-radius: 25px;
    /* opacity: 1; */
}

.form__input-error {
	font-size: 1.2rem;
	margin-bottom: 0;
    display: none; 
    color: red;
    font-weight: 700;
}


.form__input-error-activo {
    /* visibility:hidden; */
	display: block;
    
} 

.formulario__mensaje {
	background: #F66060;
	padding: 6px 2px;
	border-radius: 3px;
	display: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 20px 30px 0px 30px;
}

.formulario__mensaje-activo {
	display: block;
}


.submitButton {
    outline: none;
    border:none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    font-size: 2.0rem;
    font-weight: 700;
    color: rgb(3, 15, 46);
    text-align: center;
    background-color: #85b7c7;
    font-family: 'Lato', sans-serif;
    box-shadow: inset 5px 5px 20px #b1b1b1, inset -5px -5px 20px #fff;
    transition: all 0.5s;
    margin-top: 30px;
}

.submitButton:hover {
    background-color: #d9e7eb;
    box-shadow: inset 5px 5px 20px #5f5e5e, inset -5px -5px 20px #3d3c3c;
}

.submitButton:active {
    background-color: #88ef9e;
}

.container-link-forgot {
    display:flex;
    align-items:flex-start;
    /* flex-direction: column; */
    justify-content:space-between;
    padding: 20px 10px;
    height: 90px;
}

.container-link-forgot a {

    /* text-decoration: none; */
    color: rgb(4, 12, 78);
    font-size: 1.4rem;
    
}



/* ============= */



/*======================= VIEW, DELETE AND EDIT LINKS FORM =============================================================== */

.container-list {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 3.0rem;
    background-color: #ecf0f3;
    padding:40px;
    justify-items: center;
    margin-top: 15px;
}

.container-link {
    display: flex;
    flex-direction: column;
    position: relative;
    background: transparent;
    border-radius: 20px;
    /* justify-content: space-between;
    height: 70px;
    width: 70px;
    padding: 30px 15px 15px 15px;
    border-radius: 20px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #fff; */
}

.container-link-hidden{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    width: 120px;
    text-decoration: none;
    color: rgb(4, 12, 78);
    /* border: 2px solid black; */
    
    position:relative;
    /* z-index: 1; */
}

.container-link-hidden img {
    width: 40px;
    height: 40px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    border-radius: 20px;
    padding: 10px;
    background-color: #ecf0f3;
    
}

.container-link-hidden:hover{
    /* background: rgba(158, 192, 158, 0.253);
    opacity: 0.2; */
    border-radius: 20px;
    background: linear-gradient(360deg,transparent, #aad2f3);
}

.icon-more-vertical {
    position: absolute;
    top:0;
    right: 0;
    padding: 10px;
    display:none;
    z-index: 10;
  
}

.more-actions-menu{
    position: absolute;
    display: none;
    z-index: 10;
    list-style: none;
    /* display:flex; */
    border-radius: 5px;
    /* border: 2px solid black; */
    height: 100px;
    width: 140px;
    line-height: 30px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 550;
    background: rgb(233, 227, 227);
    padding: 8px 15px;
     
}

.more-actions-menu a{
    text-decoration: none;
    color: #868686;
} 

.more-actions-menu a:hover{
    padding: 5px 10px 5px 10px;
    border-radius: 8%;
    box-shadow: inset 5px 5px 10px #e7ddda, inset -5px -5px 10px #c77f6d;
}


/* .nav-links_dropdown{
    padding:0px 30px 0px 30px;
    cursor: pointer; 
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #858282, inset -5px -5px 10px #ceced1;

}

.nav-links_dropdown:hover{
    box-shadow: inset 5px 5px 10px #ff704d, inset -5px -5px 10px #b32400;

} */







.icon-more-vertical:hover {
    display:block;
    cursor:pointer;
}





.container-title-a:hover {
    box-shadow: inset -5px -5px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

.container-title-a:active {
    box-shadow: inset -5px -5px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

.container-title-a a {
    text-decoration: none;
    color: rgb(4, 12, 78);
           
}

.container-title-a a:hover {
    color: #cf5b0d;
    font-size: 1.1rem;
    font-weight: 800;
}

.container-title-a a:active {
    color: #700517;
}


.description-link textarea {

    text-align:center;
    font-size: 1.4rem;
    color:black;
    /* font-weight: 800; */
    padding: 5px 10px 5px 5px;
    resize: none;

}


.container-link:hover {
    box-shadow: inset -2px -2px 2px #ffffff, inset 5px 5px 40px #ceced1;    

}

.container-timeAgo {
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.container-timeAgo h3 {
    font-weight: 500;
}


.container-buttons {
    display:flex;
    align-items:centers;
    justify-content:space-evenly;
    
}

.container-buttonDelete,
.container-buttonEdit {
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    background-color: #ecf0f3;
    transition: all 0.5s;
    font-size: 1.6rem;
}

.container-buttonDelete a {
    text-decoration: none;
    color: #db4702;;
    
}

.container-buttonEdit a {
    text-decoration: none;
    color: #0e0570bd;
    
}

.container-buttonDelete:hover {
    box-shadow: inset -5px -5px 7px #db4702, inset 3px 3px 5px #110400;
}

.container-buttonDelete a:hover{
    color: darkred;
    font-weight: 600;
}

.container-buttonDelete a:active {
    color:#555;
    font-weight: 800;
}


.container-buttonEdit:hover {
    box-shadow: inset -5px -5px 7px #0e0570bd, inset 3px 3px 5px #110400;
}

.container-buttonEdit a:hover{
    color:darkblue;
    font-weight: 600;
}

.container-buttonEdit a:active {
    color:rgb(30, 180, 11);
    font-weight: 800;
}

/* =====================LINK NOT SAVED MESSAGE  ========================================================*/

.container-linksNoSaved {
    grid-column: 3/5;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 30px 15px 15px 15px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #fff;
    
}


.container-message h3{
    font-size: 2.6rem;
    letter-spacing: 0.5px;
    font-weight: 800;
    margin: 0px;
}

.container-message h4{
    font-size: 2.2rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin: 0px 0px 10px 0px;
}

.container-button-a {
    box-shadow: -3px -3px 7px #ffffff, 10px 10px 20px darkolivegreen;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: darkolivegreen;
        
}

.container-button-a:hover {
    box-shadow: inset -5px -5px 7px #05703ebd, inset 5px 5px 10px #012e0c;
    background-color: #ceced1;
}

.container-button-a:active {
    box-shadow: inset -5px -5px 7px #ffffff, inset 3px 3px 5px #ceced1;
}


.container-button-a a {
    text-decoration: none;
    color: rgb(198, 197, 211);
    font-size: 2.0rem;
    letter-spacing: 0.8px;
}

.container-button-a a:hover {
    color:darkblue;
    font-weight: 700;
        
}

.container-button-a a:active {
    color:rgb(30, 180, 11);
    font-weight: 800;
}


/* =====================SUCCESSFULLY MESSAGE  ========================================================*/

.container-messageAlert {
    display: flex;
    justify-content: center;
    margin: 30px 0px 10px 0px;
    border-radius: 5px;
    
}

.container-messageAlert-box {
    box-shadow: -3px -3px 7px #ffffff, 5px 5px 10px #ceced1;
    padding: 8px 30px 8px 30px;
    border-radius: 10px;
    background-color: #a2f3c7;
    transition: all 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

} 
    
.container-messageAlert-box h3 {
    color: #133802bd;
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0px;
    
}

.closeAlert-button {
    background-color: #a2f3c7;
    color: #133802bd;
    font-weight: 700;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    background: url("/img/times-solid.svg") no-repeat center center/cover;
    width: 14px;
    height: 16px;
}

/* ============================CONTAINER MESSAGE FOR NEW PAGE========================== */

.container-infoBox {
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    width: 430px;
    height: 220px;
    padding: 30px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #707172,
    -8px -8px 10px rgb(161, 158, 158);
}

.container-welcome {
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    width: 430px;
    height: 300px;
    padding: 30px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #707172,
    -8px -8px 10px rgb(161, 158, 158);
}




/* ========================================================== */

img {
    height: 80px;
}

.profile-pic-welcome{
    height: 90px;
    width: 90px;
    display: flex;
    flex-direction: column;
    /* margin:auto; */
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid grey;
    /* margin-top: 20px; */
}

.profile-pic-div {
    position: absolute;
    top: -50px;
    left: 170px;
    height: 90px;
    width: 90px;
    display: flex;
    flex-direction: column;
    /* margin:auto; */
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid grey;
    /* margin-top: 20px; */
    z-index: 1;

}

#photo {
    height: 100%;
    width: 100%;
}

#pic_file {
    display: none;
}

#IdTxtPhotoHide {
    display: none;
}

#changePhotoBtn {
    background: rgba(0,0,0,0.7);
    color: wheat;
    transform: translateY(-70%);
    height: 50px;
    width: 100%;
    text-align: center;
    justify-items: start;
    line-height: 20px;
    font-size: 1.0rem;
    font-weight: 600;
    padding-bottom: 10px;
    cursor: pointer;
    display: block;
}

.btnUploadPhoto {
    display: none;
    outline: none;
    border:none;
    cursor: pointer;
    margin:auto;
    width: 110px;
    height: 30px;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(3, 15, 46);
    text-align: center;
    background-color: #85b7c7;
    font-family: 'Lato', sans-serif;
    box-shadow: inset 5px 5px 20px #b1b1b1, inset -5px -5px 20px #fff;
    transition: all 0.5s;
}

.btnUploadPhoto:hover {
    background-color: #d9e7eb;
    box-shadow: inset 5px 5px 20px #5f5e5e, inset -5px -5px 20px #3d3c3c;
}

.btnUploadPhoto:active {
    background-color: #88ef9e;
}

/* =========================================================================================== */

.container_index {
    color:white;
	width: 90%;
    margin: auto;
    margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    background-image: url('/img/colorTriangles.jpg');
    min-height: 70rem;
	background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
    /* opacity: 0.8; */
    object-fit: fill;
	z-index: 1;
}

.home-app-name {
    text-align: center;
    font-size: 5.0rem;
    letter-spacing: 2px;
    font-weight: 800;
}

.home-message {
    text-align: center;
    font-size: 3.0rem;
    padding-top: 20px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}

.button-neon-a a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 2.4rem;
    overflow: hidden;
    transition: 0.2s;
    font-family: consolas;
}

.button-neon-a a:hover {
    color:#255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top:0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #2196f3);
}

a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

a span:nth-child(3){
    bottom:0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent, #2196f3);
}

a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2){
    top:-100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #2196f3);
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4){
    bottom:-100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent, #2196f3);
}

a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.containerMessages{
    width: 100vw;
    height: 100vh;
    background-color: #707781;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23231c27' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


