 {{#if success}}
    <div class="container-messageAlert">
        <div class="container-messageAlert-box">
            <h3>{{ success }}</h3>
            <input type = "button" class="closeAlert-button" onclick="location.reload()"/>
        </div>
    </div>
{{/if}}