 {{#if success}}
    <div class="container-messageAlert">
        <div class="container-messageAlert-box">
            <h3>{{ success }}</h3>
            <input type = "button" class="closeAlert-button" onclick="location.reload()"/>
        </div>
    </div>

{{/if}}

{{#if message}}
    <div class="container-messageAlert">
        <div class="container-messageAlert-box">
            <h3>{{ message }}</h3>
            <input type = "button" class="closeAlert-button" onclick="location.reload()"/>
        </div>
    </div>
{{/if}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>