{{#if user}}
    <nav class="nav-main">
        <div class="menu_container">
            <div class="nav_brand">
                {{!-- <img src="/img/igtLogo1.png" alt="Logo Menu" class="nav-brand-logo"> --}}
                <img src="https://img.icons8.com/color/50/000000/cloud-link.png" alt="Logo Menu" class="nav-brand-logo"/>
                <a href="/links">LinkeRs</a>
            </div>
            <ul class="nav-menu" id="nav_menu">
                <li class="nav-links_dropdown">Links
                    <div class="dd_menu_links">
                        <div class="dd_left">
                            <ul>
                                <li><img src="https://img.icons8.com/color/48/000000/networking-manager.png"/></li>
                                <li><img src="https://img.icons8.com/dusk/64/000000/domain.png"/></li>
                            </ul>
                        </div>
                        <div class="dd_right">
                            <ul>
                                <li><a href="/links">All Links</a></li>
                                <li><a href="/links/add">Add Link</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
        
                <li>
                    <div class="li_main_group">
                        <img class="li_main" src= "/uploads/{{user.profile_image}}" alt="profile_image"/>
                        <h5>{{user.fullname}}</h5>
                        <i class="fas fa-chevron-down" id = "icon_arrow"></i>
                    </div>
                    
                    <div class="dd_menu">
                        <div class="dd_left">
                            <ul>
                                <li><img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-settings-management-kiranshastry-lineal-color-kiranshastry-1.png"/></li>
                                <li><img src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-exit-hotel-wanicon-lineal-color-wanicon.png"/></li>
                            </ul>
                        </div>
                        <div class="dd_right">
                            <ul>
                                <li><a href="#">Settings</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

<script>
    const _dd_menu = document.querySelector(".dd_menu");
    const _dd_menu_links = document.querySelector(".dd_menu_links");
    const _li_main_group = document.querySelector(".li_main_group");
    const _nav_links_dropdown = document.querySelector(".nav-links_dropdown");
    const _icon_arrow = document.getElementById("icon_arrow");

    _dd_menu_links.style.display = "none";
    _dd_menu.style.display = "none";
    _li_main_group.addEventListener("click", function () {
        if (_dd_menu.style.display == "none"){
            _dd_menu.style.display = "flex";
            _icon_arrow.classList = 'fas fa-chevron-up'
        }else {
            _dd_menu.style.display = "none";
            _icon_arrow.classList = 'fas fa-chevron-down'
        };
        if (_dd_menu_links.style.display == "flex"){
            _dd_menu_links.style.display = "none";
        };
    });

    _nav_links_dropdown.addEventListener("click", function () {
        if (_dd_menu_links.style.display == "none"){
            _dd_menu_links.style.display = "flex";
        }else {
            _dd_menu_links.style.display = "none";
        };
        if (_dd_menu.style.display == "flex"){
            _dd_menu.style.display = "none";
            _icon_arrow.classList = 'fas fa-chevron-down'
        };
    });

    {{!-- _dd_menu.addEventListener('mousedown', function() {
        
        if (_dd_menu_links.style.display == "flex"){
            _dd_menu_links.style.display = "none";
        } 
        if (_dd_menu.style.display == "flex"){
            _dd_menu.style.display = "none";
            _icon_arrow.classList = 'fas fa-chevron-down'
        } 
    }); --}}

</script>


 
{{else}}
    <nav class="nav-main">
        <div class="menu_container">            
            <div class="nav_brand">
                <img src="https://img.icons8.com/color/50/000000/cloud-link.png" alt="Logo Menu" class="nav-brand-logo"/>
                {{!-- <img src="/img/igtLogo1.png" alt="Logo Menu" class="nav-brand-logo"> --}}
                <a href="/">LinkeRs</a>
            </div>
            <ul class="nav-menu-init" id="nav_menu-init">
                <li>
                    <a href="/signin">Sign in</a>
                </li>
                <li>
                    <a href="/signup">Sign up</a>
                </li>
            </ul>
        </div>
    </nav>
{{/if}}
{{!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> --}}
           

    