<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkeRs</title>
   
    {{!-- GOOGLE FONTS LATO --}}
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

      
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@300&family=Grechen+Fuemen&family=Luckiest+Guy&display=swap" rel="stylesheet">
   
    
    {{!-- FONT AWESOME 5 --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">

    {{!-- STYLES --}}
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    
    {{!-- FAVICON --}}
    <link rel="icon" href="https://img.icons8.com/color/50/000000/cloud-link.png">
    
</head>
<body>
    {{>navigation}}

    {{>message}}

    {{{ body }}}

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/scripts/sweetAlert.js"></script>
    <script src="/scripts/customScripts.js"></script>
    <script src="/scripts/signupScript.js"></script>
</body>
</html>