<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites Links</title>
    {{!-- GOOGLE FONTS OSWALD
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> --}}

    {{!-- GOOGLE FONTS LATO --}}
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    {{!-- BOOTSTRAP 4
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> --}}

    {{!-- BOOTSTRAP 5 --}}
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> --}}
    
    {{!-- FONT AWESOME 5 --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">

    {{!-- STYLES --}}
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    {{!-- <link rel="stylesheet" href="/css/stylesListLink.css"> --}}
</head>
<body>
    {{>navigation}}

    {{>message}}

    {{{ body }}}

    <script>
        const _container_list = document.querySelector(".container-list");
        _container_list.addEventListener("click", function () {
            if (_dd_menu_links.style.display == "flex"){
                _dd_menu_links.style.display = "none";
            } 
            if (_dd_menu.style.display == "flex"){
                _dd_menu.style.display = "none";
                _icon_arrow.classList = 'fas fa-chevron-down'
            } 
        });
    </script> 

    <script>
        const _container = document.querySelector(".container");
        _container.addEventListener("click", function () {
            if (_dd_menu_links.style.display == "flex"){
                _dd_menu_links.style.display = "none";
            } 
            if (_dd_menu.style.display == "flex"){
                _dd_menu.style.display = "none";
                _icon_arrow.classList = 'fas fa-chevron-down'
            } 
        });
    </script>

    <script src="/scripts/customScripts.js"></script>
    <script src="/scripts/sweetAlert.js"></script>
    <script src="/scripts/signupScript.js"></script>
</body>
</html>