<div class="container">
    <div class="container-form">
        <div class="logo"></div>
        <div class="main-title">SignIn</div>
        <div class="sub-title">###</div>
        <form action="/signin" method="POST">
            <div class="fields">
                <div class="group-input">
                    <i class="fas fa-globe"></i>
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="group-input">
                    <i class="fas fa-globe"></i>
                    <input type="password" name="password" placeholder="Password" minlength="2" maxlength="8" required>
                </div>
            </div>
            <button type="submit" class="submitButton" id="saveButton">
                SignIn
            </button>
        </form>
    </div>
</div>