<div class="container">
    <div class="container-form">
        <div class="main-title">SignUp</div>
        <form action="" method="POST" enctype="multipart/form-data"></form>
            <div class="profile-pic-div">
                <img src="/img/businessman1.png" id= 'photo'>
                <input type="file" name="image_profile" id='pic_file'>
                <label for="pic_file" id='uploadBtn'>Choose Photo</label>
            </div>
        </form>
           
        
        <form action="/signup" method="POST">
            <div class="fields">
                <div class="group-input">
                    <i class="far fa-eye"></i>
                    <input type="text" name="fullname" required minlength="4" maxlength="20" placeholder="Full Name" autocomplete="on" autofocus>
                </div>
                <div class="group-input">
                    <i class="fas fa-globe"></i>
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="group-input">
                    <i class="fas fa-globe"></i>
                    <input type="password" name="password" placeholder="Password" minlength="2" maxlength="8" required>
                </div>
                

            </div>
            <button type="submit" class="submitButton" id="saveButton">
                SignUp
            </button>
        </form>
    </div>
</div>