<div class="container">
    <div class="container-form__signin animate__animated animate__backInDown">
        <div class="main-title">Sign in</div>
        <form action="/signin" method="POST">
            <div class="profile-pic-div">
                <img src="/img/businessman1.png" id= 'photo'>
            </div>
            <div class="fields">
                <div class="group-input">
                    <i class="fas fa-user-tie"></i>
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="group-input">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" minlength="2" maxlength="12" required>
                </div>
            </div>
            <button type="submit" class="submitButton" id="saveButton">
                Sign in
            </button>

            <div class="container-link-forgot">
                <a onclick = "alertSwalForgotUsername()" href="#">
                    Forgot Username?
                </a>
                <a onclick = "alertSwalForgotPassword()" href="#">
                    Forgot Password?
                </a>

            </div>
        </form>
    </div>
</div>
 
